# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# tex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.ps

*.bm
*.toc
*.pdf

kmeans-cpu
kmeans-gpu

*.tar
*.tar.gz
*.zip

*.out
*.dat
.*
